* {
  margin: 0 auto;
  padding: 0;
}

.project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1272px;
  box-sizing: border-box;
}

.top {
  flex-grow: 1;
}

.topBlock {
  background-color: #445161;
  max-height: 275px;
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
}

.topBlock_info {
  display: flex;
  flex-direction: column;
}

.topBlock_info_header {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 374px;
  max-height: 69px;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 50px;

  font-family: Arial;
  font-size: 60px;
  line-height: 69px;

  color: #ffffff;
}

.topBlock_list {
  margin-left: 50px;
  margin-bottom: 20px;
}

.item {
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
  list-style: none;
}

.topBlock_picture {
  max-width: 472px;
  max-height: 217px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 33px;
}

.picture_properties {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.about {
  max-width: 1272px;
  max-height: 340px;
  display: flex;
  justify-content: space-between;
}

.about_picture {
  border: 1px solid #000;
  max-width: 430px;
  max-height: 245px;
  margin: 45px 50px 50px 96px;

  background: #445161;
}
.about_info_header {
  width: 284px;
  height: 36px;
  margin-left: 50px;
  margin-top: 45px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;

  color: #445161;
}

.about_paragraph1 {
  max-width: 646px;
  margin-left: 50px;
  margin-top: 17px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.about_paragraph2 {
  max-width: 646px;
  margin-left: 50px;
  margin-top: 11px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.advantages {
  max-width: 1272px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.advantages_header {
  margin-top: 25px;
  margin-bottom: 22px;
  align-self: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;

  color: rgba(68, 81, 97, 1);
}

.advantagesTwoBlocks {
  max-height: 262px;
  display: flex;
  margin: 0 50px 55px 50px;
}

.advantages_block {
  max-width: 568px;
  max-height: 262px;
}

.advantages_block_left {
  margin-right: 20px;
}

.advantagesItem {
  max-width: 568px;
  max-height: 65px;
  margin-bottom: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
}

.advantagesItemList {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
}

.screenshots {
  max-width: 1272px;
  max-height: 490px;
  display: flex;
  flex-direction: column;
}

.screenshots_header {
  margin-top: 25px;
  align-self: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;

  color: #445161;
}

.screenshotsTwoBlocks {
  display: flex;
  justify-content: space-between;
  margin: 45px 42px 51px 50px;
}

.screenshots_block {
  max-width: 575px;
  max-height: 333px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_container {
  display: flex;
  max-width: 575px;
  max-height: 153px;
}

.screenshots_item {
  display: flex;
  flex-direction: column;

  margin-left: 14px;
}

.pic_screenshot {
  max-width: 200px;
  max-height: 150px;
}

.screenshot_item_name {
  max-width: 340px;
  max-height: 30px;
  margin-bottom: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;

  color: rgba(68, 81, 97, 1);
}

.screenshot_item_text {
  max-width: 389px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
}

.reviews {
  max-width: 1272px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.reviews_header {
  margin-top: 25px;
  margin-bottom: 29px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;

  align-self: center;

  color: rgba(68, 81, 97, 1);
}

.reviewsTwoBlocks {
  display: flex;
  justify-content: space-between;
  margin: 29px 50px 42px;
}

.reviews_blockLeft {
  max-width: 576px;
  display: flex;
  flex-direction: column;
}

.reviews_blockRight {
  max-width: 576px;
  display: flex;
  flex-direction: column;
}

.review_container {
  max-width: 568px;
  display: flex;
}

.reviews_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 575px;
  max-height: 153px;
  margin-bottom: 27px;
}

.pic_reviews {
  max-width: 66px;
  max-height: 66px;
  border-radius: 33px;
  margin: 2px 30px 55px 4px;
}

.reviews_item_text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  width: 458px;
  height: 77px;
  left: 100px;
  top: 18px;

  color: #000000;
}

.reviewer {
  font-family: Roboto;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;

  color: #989898;
}

.buyItNow {
  max-width: 1272px;
  max-height: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyItNow_header {
  max-width: 140px;
  max-height: 36px;
  margin-top: 45px;
  margin-bottom: 26px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.buyItNow_offers {
  max-height: 500px;
  max-width: 990px;
  margin: 26px 0px 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.buyItNow_offers_figure {
  max-width: 300px;
  background-color: rgba(68, 81, 97, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(68, 81, 97, 1);
  border-radius: 5px;
}

.buyItNow_offers_figure_type {
  width: 120px;
  height: 30px;
  margin: 13px 75px 8px 105px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.buyItNow_offers_figure_price {
  background-color: #fff;
  width: 100%;
}

.buyItNow_offers_figure_price_text {
  width: 117px;
  height: 30px;

  color: rgba(68, 81, 98, 1);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 30px;
  margin: 25px 76px 16px 107px;
}

.buyItNow_offers_figure_list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.buyItNow_offers_figure_buy {
  width: 262px;
  height: 43px;
  margin-bottom: 19px;
  margin-left: 19px;
  margin-right: 19px;
  background-color: #fff;
}

.buyItNow_offers_figure_buy_text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 9px;
  color: #445161;
}

.contacts {
  max-width: 1272px;
  max-height: 509px;

  background-color: #445162;
  display: flex;
  flex-direction: column;
}

.contacts_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin: 25px auto 43px;
  color: rgba(255, 255, 255, 1);
}

.contacts_TwoBlocks {
  margin-left: 247px;
  margin-right: 267px;
  display: flex;
}

.contacts_TwoBlocks_form {
  max-width: 503px;
  max-height: 357px;
  display: flex;
  flex-direction: column;
  margin-right: 45px;
}
.input {
  width: 503px;
  height: 43px;
}

.input_textarea {
  width: 503px;
  height: 173px;
}

.contacts_TwoBlocks_form_submit {
  margin: 18px auto 48px;
  width: 143px;
  height: 43px;
  margin-top: 18px;
}

.contacts_TwoBlocks_listAndIcons {
  display: flex;
  flex-direction: column;
}

.contacts_TwoBlocks_listAndIcons_ul {
  margin-top: 2px;
  margin-bottom: 50px;
  list-style-type: none;
}

.contacts_TwoBlocks_listAndIcons_ul_text {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.contacts_TwoBlocks_listAndIcons_ul_icon {
  margin-right: 5px;
}

.contacts_TwoBlocks_listAndIcons_icons {
  display: flex;
}

.copyR {
  max-height: 49px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;

  color: #445162;
  text-align: center;
}
