.topBlock {
  background-color: #445161;
  max-height: 275px;
  max-width: 1272px;
  display: flex;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-between;
}

.topBlock_info {
  display: flex;
  flex-direction: column;
}

.topBlock_info_header {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 40px;

  font-family: Arial;
  font-size: 60px;
  line-height: 69px;
  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

.item {
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
  list-style: none;
}

.topBlock_picture {
  max-width: 472px;
  max-height: 217px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 33px;
  border: 1px solid #000;
}

.picture_properties {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  max-width: 1272px;
  max-height: 340px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

.about_picture {
  border: 1px solid #000;
  width: 430px;
  height: 245px;
  margin-top: 45px;
  margin-right: 50px;
  margin-bottom: 50px;

  background: #445161;
}
.about_info_header {
  width: 284px;
  height: 36px;
  margin-left: 50px;
  margin-top: 45px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;

  color: #445161;
}

.about_paragraph1 {
  max-width: 646px;
  margin-left: 50px;
  margin-top: 17px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.about_paragraph2 {
  max-width: 646px;
  margin-left: 50px;
  margin-top: 11px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.advantages {
  max-width: 1272px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  border: 1px solid #000;
}

.advantages_header {
  margin-top: 25px;
  max-width: 355px;
  max-height: 36px;
  align-self: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;

  color: rgba(68, 81, 97, 1);
}

.advantagesTwoBlocks {
  display: flex;
}

.advantages_block {
  max-width: 568px;
}

.advantagesItem {
  max-height: 65px;
  max-width: 568px;
  display: flex;
  align-items: flex-start;
  list-style-type: none;
}

.advantagesItemList {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
}

.screenshots {
  max-width: 1272px;
  max-height: 490px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.screenshots_header {
  margin-top: 25px;
  margin-bottom: 45px;
  align-self: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;

  color: #445161;
}

.screenshotsTwoBlocks {
  display: flex;
  justify-content: space-between;
}

.screenshots_block {
  max-width: 575px;
  max-height: 333px;
}

.screenshots_blockLeft {
  margin-left: 50px;
  margin-right: 30px;
}

.screenshots_blockRight {
  margin-right: 42px;
}

.item_container {
  display: flex;
}

.screenshots_item_topLeft {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  max-height: 153px;
  margin-bottom: 27px;
}

.screenshots_item_botLeft {
  display: flex;
  flex-direction: column;
  max-width: 565px;
  max-height: 153px;
}

.screenshots_item_topRight {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  max-height: 153px;
  margin-bottom: 27px;
}

.screenshots_item_botRight {
  display: flex;
  flex-direction: column;
  max-width: 565px;
  max-height: 153px;
}

.pic_screenshot {
  max-width: 202px;
  max-height: 153px;
}

.screenshot_item_name {
  max-width: 340px;
  max-height: 30px;
  margin-left: 14px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;

  color: rgba(68, 81, 97, 1);
}

.screenshot_item_text {
  margin-left: 14px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
}

.blankSpace {
  height: 500px;
  background-color: lightblue;
}

.reviews {
  max-width: 1272px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.reviews_header {
  margin-bottom: 29px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  align-self: center;
}

.reviewsTwoBlocks {
  display: flex;
  justify-content: space-between;
}

.reviews_block {
  max-width: 575px;
  max-height: 333px;
}

.reviews_blockLeft {
  margin-left: 50px;
  margin-right: 20px;
}

.reviews_blockRight {
  margin-right: 42px;
}

.item_container {
  display: flex;
}

.reviews_item_topLeft {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  max-height: 153px;
  margin-bottom: 27px;
}

.reviews_item_botLeft {
  display: flex;
  flex-direction: column;
  max-width: 565px;
  max-height: 153px;
}

.reviews_item_topRight {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  max-height: 153px;
  margin-bottom: 27px;
}

.reviews_item_botRight {
  display: flex;
  flex-direction: column;
  max-width: 565px;
  max-height: 153px;
}

.pic_reviews {
  max-width: 66px;
  max-height: 66px;
  border-radius: 33px;
}

.reviews_item_text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  width: 458px;
  height: 77px;
  left: 100px;
  top: 18px;

  color: #000000;
}

.reviewer {
  left: 100px;
  top: 100px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;

  color: #989898;
}

.buyItNow {
  max-width: 1272px;
  max-height: 656px;
  display: flex;
  flex-direction: column;
}

.buyItNow_header {
  max-width: 140px;
  max-height: 36px;
  margin-top: 45px;
  margin-bottom: 26px;
  align-self: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.buyItNow_offers {
  max-width: 990px;
  max-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.buyItNow_offers_figure {
  width: 300px;
  background-color: rgba(68, 81, 97, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border: 1px solid rgba(68, 81, 97, 1);
  border-radius: 5px;
}

.buyItNow_offers_figure_type {
  width: 120px;
  height: 30px;
  margin: 13px 75px 8px 105px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.buyItNow_offers_figure_price {
  background-color: #fff;
  width: 100%;
}

.buyItNow_offers_figure_price_text {
  width: 117px;
  height: 30px;

  color: rgba(68, 81, 98, 1);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 30px;
  margin: 25px 76px 16px 107px;
}

.buyItNow_offers_figure_list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.buyItNow_offers_figure_buy {
  width: 262px;
  height: 43px;
  margin-bottom: 19px;
  margin-left: 19px;
  margin-right: 19px;
  background-color: #fff;
}

.buyItNow_offers_figure_buy_text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 9px;
  color: #445161;
}

.contacts {
  max-width: 1272px;
  max-height: 509px;

  background-color: #445162;
  display: flex;
  flex-direction: column;
}

.contacts_header {
  width: 120px;
  height: 36px;
  left: 576px;
  top: 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin: 25px auto 43px;
  color: rgba(255, 255, 255, 1);
}

.contacts_TwoBlocks {
  margin-left: 247px;
  margin-right: 45px;
  display: flex;
}

.contacts_TwoBlocks_form {
  width: 503px;
  height: 357px;
  display: flex;
  flex-direction: column;
}

.contacts_TwoBlocks_form_submit {
  width: 143px;
  height: 43px;
  align-self: center;
  margin-top: 18px;
}

.contacts_TwoBlocks_listAndIcons {
  display: flex;
  flex-direction: column;
}

.contacts_TwoBlocks_listAndIcons_ul {
  margin-top: 2px;
  margin-bottom: 50px;
  list-style-type: none;
}

.contacts_TwoBlocks_listAndIcons_ul_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.contacts_TwoBlocks_listAndIcons_ul_icon {
  margin-right: 5px;
}

.contacts_TwoBlocks_listAndIcons_icons {
  margin-left: 45px;
}

.footer_bot {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;

  color: #445162;
  text-align: center;
}
